.container {
    display: flex;
    flex-direction: row;
    color: rgb(96, 48, 48);
    font-family: monospace;
    font-size: 16px;
    overflow: hidden;
    height: 100%;
    font-weight: 500;
    gap:4px;
}

.container>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;
    background-color: whitesmoke;
    padding: 10px;
}

.container> div> span{
    font-size: 18px;
}