{% extends "main.html" %}
{% block title %}
<title>certifications</title>
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="/static/css/certifications.css">
{% endblock styles %}
{% block content %}
<div class="certifications">

    <div class="certification">
        <h2>Aug 2024-Feb 2024</h2>
        <h3>Odoo Developement trainee</h3>
        <p>netilligence business system llc</p>
    </div>

    <div class="certification">
        <h2>Jul 2023- jan 2024</h2>
        <h3>python fullstack Developement course</h3>
        <p>Best it academy</p>
    </div>

</div>
{% endblock content %}