{% extends "main.html" %}
{% block title %}
<title>Contact</title>
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="/static/css/contact.css">
{% endblock styles %}
{% block content %}
<div class="heading">
    <h1>Contact</h1>
</div>

<div class="contact">
    <p>mobile: 9390379057</p>
    <p>email: <a href="mailto:banothusrikanth267@gmail.com">banothusrikanth267@gmail.com</a></p>
    <p>address: Hyderabad,500035.</p>
    <p>linkedin: <a href="https://www.linkedin.com/in/srikanthbanothu2607/">srikanthbanothu2607</a></p>
    <p>github: <a href="https://github.com/srikanthbanothu26">srikanthbanothu26</a></p>
</div>
{% endblock content %}