{% extends "main.html" %}
{% block title %}
<title>Skills</title>
{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/skills.css') }}">
{% endblock styles %}

{% block content %}
<h2>Skills</h2>
<div class="skills">
    <div>
        <h3>Programming Languages</h3>
        <span>Python, JavaScript</span>
    </div>
    <div>
        <h3>Frameworks & Libraries</h3>
        <span>Flask, Django, React.js, Tailwind CSS</span>
    </div>
    <div>
        <h3>ERP Platforms</h3>
        <span>Odoo (Development, Customization, Migration)</span>
    </div>
    <div>
        <h3>Databases</h3>
        <span>PostgreSQL, MySQL</span>
    </div>
    <div>
        <h3>Tools</h3>
        <span>Git, VS Code, Postman, Docker, Pycharm, Idle</span>
    </div>
    <div>
        <h3>Soft Skills</h3>
        <span>Problem-solving, Time management, Communication</span>
    </div>
</div>
{% endblock content %}